medtype-trainer/data/*
medtype-trainer/models/*
medtype-trainer/logs/*
medtype-trainer/predictions/*
medtype-trainer/results/*
medtype-as-service/resources/*
medtype/datasets/*
medtype/datasets/*

*/__pycache__/*

Release/
*.zip

*.pyc
*.swp
*.egg
*.zip
*.pt
._*

.workon
*.lprof
*.lprof.old
*.DS_Store

*.log
*.fls
*.fdb_latexmk
*.bbl
*.out
*.aux
*.blg
*.synctex.gz

eval_data/
med_linkers/

# Vim swap files
*.swp